S3method("[",binned_summary)
S3method("[<-",ranged)
S3method(as.array,binned_summary)
S3method(as.data.frame,binned_summary)
S3method(as.matrix,binned_summary)
S3method(contour,binned_summary)
S3method(dim,binned_summary)
S3method(factor_levels,character)
S3method(factor_levels,data.frame)
S3method(is_factor,character)
S3method(is_factor,data.frame)
S3method(lines,binned_summary)
S3method(max,ranged)
S3method(min,ranged)
S3method(plot,binned_summary)
S3method(points,binned_summary)
S3method(print,binned_summary)
S3method(range,ranged)
export(frange)
export(glyphs)
export(ranged)
export(ref_boxes)
export(standardise)
export(summarise1d)
useDynLib(bigvis)
