export(bin_nd)
export(density_1d)
S3method("[",binned_summary)
S3method(as.data.frame,binned_summary)
S3method(binned_summary,lines)
S3method(binned_summary,points)
S3method(dim,binned_summary)
S3method(fast_bin_nd,character)
S3method(fast_bin_nd,data.frame)
S3method(plot,binned_summary)
S3method(print,binned_summary)
