export(bin_nd)
export(density_1d)
export(glyphs)
export(ref_boxes)
export(standardise)
S3method("[",binned_summary)
S3method(as.array,binned_summary)
S3method(as.data.frame,binned_summary)
S3method(as.matrix,binned_summary)
S3method(contour,binned_summary)
S3method(dim,binned_summary)
S3method(fast_bin_nd,character)
S3method(fast_bin_nd,data.frame)
S3method(lines,binned_summary)
S3method(plot,binned_summary)
S3method(points,binned_summary)
S3method(print,binned_summary)
